
:root {
    --header_height: 55px;
}

.header {
    height: var(--header_height);
    background-color: #3B4256;
}

.link {
    text-decoration: none;
    color: white;
    line-height: var(--header_height);
}