.ws-flexbox {
  display: flex;
}

.ws-justify-content-between {
  justify-content: space-between;
}

body {
  background-color: #f4f7fb;
}

.main__block {
  min-height: 100%;
  padding: 25px;
}

:root {
  --header_color: #3B4256;
}